* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
}

/* backgrounds */
.header,
.footer {
    background-color: #1f2937;
}

/* header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 200px;
}

/* navigation bar */

.nav {
    display: flex; 
    justify-content: space-between;
    padding-top: 24px;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 32px;
    padding: 0; 
    margin: 0;
}

/* hero section */

.hero {
    display: flex;
    gap: 72px;
    padding: 72px 0;
}

.hero .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 60%;
}

.hero h1 {
    font-size: 48px;
    color: #f9faf8;
}

p {
    line-height: 1.4;
    font-size: 18px;
    color: #e5e7eb;
}

.hero img {
    flex: auto;
    width: 40%;
    height: auto;
    object-fit: cover;
}

a#psych-page {
    text-decoration:none;
    font-size: unset;
    color: #99b5f1;
}

a#psych-page:hover {
    color: #becbeb;
}

a {
    text-decoration: none; 
    font-size: 18px;
    color: #e5e7eb;
    transition: 200ms color ease-out;
}

a:hover {
    color: #fff;
}



button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 150px;
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    transition: 200ms background-color ease-out;
}

button:hover {
    background-color: #2477fc;
    cursor: pointer;
}

/* Services */
h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info {
    padding: 72px 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.info-container {
    display: flex;
}

.info-container {
    gap: 32px;
}

.info-card {
    text-align: center;
    flex: 1;
}
.info-card img {
    width: 200px;
    height: auto;
    aspect-ratio: 4/3;
    border-radius: 16px;
    border: 4px solid #1f2937;
    margin-bottom: 8px;
}

.info-card p {
    color: #1f2937;
}

/* quotes section */
.quote {
    background-color: #e5e7eb;
    padding: 72px 200px;
    text-align: center;
}

#msg,
#author {
    color: #1f2937;
}

#msg {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 16px;
}

#author {
    font-size: 24px;
    font-weight: 500;
}

/* signup section */
.sign-up {
    padding: 72px 200px;
}

.signup-card {
    background-color: #3882f6;
    padding: 48px 96px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

button.light {
    border: 2px solid #f9faf8;
    color: #f9faf8;
}

button.light:hover {
    background-color: #2864c4;
}

/* footer */

.footer {
    padding: 24px 0;
    text-align: center;
}

