* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
}

/* backgrounds */
.header,
.footer {
    background-color: #1f2937;
}

/* header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* navigation bar */

.nav {
    display: flex; 
    justify-content: space-between;
    padding: 16px 0;
}

#title {
    font-size:24px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 32px;
    padding: 0; 
    margin: 0;
}

/* hero section */

.hero {
    display: flex;
}

.hero h1 {
    font-size: 48px;
    color: #f9faf8;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero img {
    width: 400px;
    height: auto;
}

a#psych-page {
    text-decoration:none;
    font-size: unset;
    color: #99b5f1;
}

a {
    text-decoration: none; 
    font-size: 18px;
    color: #e5e7eb;
}

button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 150px;
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}
/* quotes section */

.quote {
    background-color: #e5e7eb;
}

